<!DOCTYPE html>
<html>
<head>
  <title>UPCchat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('c3d762824583fa9cc453');
    var channel = pusher.subscribe('DEW2015');
    channel.bind('message:create', function(data) {
      
      var message = "<li id = 'message_" + data.id + "'>"
      message += data.name + ": " + data.content
      message += "</li>"
      $('#chat_container').append(message);
      $('#message_content').val("");
      $('#message_content').focus();
      
      
    });
  </script>



</head>
<body>

<%= yield %>

</body>
</html>
